.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.change button {
  background-color: #77002e;
  font-size: 25px;
  width: 40px;
  border-radius: 5px;
  color: white;
  border-color: #77002e;
}

.counter input {
  width: 3rem;
  background-color: white;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
}
