@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
header {
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-top: 0.5rem;
  /* font-family: 'Griffy', cursive; */
}

header ul {
  list-style: none;
  overflow: hidden;
}

.language{
  float: right;
}

.rules{
  float: left;
}

header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #a39b75;
  margin-right: 20px;
  margin: 10px;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
