.form {
  padding: 1rem;
  margin-top: 20%;
}

.form label {
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: #a39b75;
  margin-right: 1rem;
}

.name {
  margin-bottom: 1rem;
}

.name input {
  display: block;
  font: inherit;
  border-radius: 15px;
  border: none;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: #ddd4d4;
}

.name input:focus {
  outline: none;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.private {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.private h2{
  color: #a39b75;
  font-size: 30px;
}

.private input{
  transform: scale(1.5);
  float: right;
}

.actions button {
  margin-top: 10px;
  font: inherit;
  font-size: 25px;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  float: right;
}

.actions button:hover,
.actions button:active {
  background-color: #7c3838;
}



